<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BambiSQLServer" connectionString="Server=DESKTOP-4N0C9TQ\LITERALLYCANT;Database=Bambi;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <appSettings>
    
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>